<a [routerLink]="['/']">Home</a>
<h3>Add a new quote by {{ authorName }}:</h3>
<div id="createquote">
  <div id="createform">
    <form class="form-horizontal" (submit)="createQuote()">
      <!-- use the json pipe to see how newProduct changes in real time  <p>{{ newProduct | json }}</p>-->
      <p class="red">{{ errors }}</p>
      <div class="form-group">
        <label class="control-label" for="title">Quote: </label>
        <input
          class="form-control"
          type="text"
          id="content"
          name="newQuote.content"
          [(ngModel)]="newQuote.content"
        />
      </div>
      <input class="btn btn-primary" type="submit" value="Submit" />
      <button id="goback" class="btn btn-primary" (click)="GoBack()">
        Cancel
      </button>
    </form>
  </div>
</div>
