
h1 {
  text-align: center;
}
#wrapper{
  align-content: center;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
#formbox {
  display: inline-block;
  width: 25%;
  text-align: center;
  align-content: center;
  border-radius: 5px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border: 2px solid grey;
}
div #cakesbox {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: 311px;
  border: 2px solid grey;
  text-align: center;
  align-content: center;
  border-radius: 5px;
  padding: 10px;
  margin-right: auto;
  margin-left: 5%;
  margin-bottom: 10px;
  overflow-y: scroll;
}
span {
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}
/* Rating form css */
#rateform {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  text-align: center;
  align-content: center;
  border-radius: 5px;
  padding: 10px;
  margin-right: auto;
  margin-left: 5%;
  margin-bottom: 10px;
}
