<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <!--Just testing someone else's font *By Daniel Burrows*-->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic"
  />
</head>
<body class="root">
  <div id="wrapper">
    <span><h1>{{ title }}</h1></span>
    <br /><br />
      <div id="formbox">
        <span><h3>Submit a cake for rating</h3></span>
        <form (submit)="makeNewCake()">
          <!-- use the json pipe to see how newTask changes in real time  <p>{{ newTask | json }}</p>-->
          <div class="form-group">
            <label for="title">Baker Name: </label>
            <input
              class="form-control"
              type="text"
              id="bakerName"
              name="bakerName"
              [(ngModel)]="newCake.baker"
            />
          </div>
          <div class="form-group">
            <label for="imageUrl">Image Url: </label>
            <input
              class="form-control"
              id="imageUrl"
              type="text"
              name="url"
              [(ngModel)]="newCake.url"
            />
          </div>
          <br />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div id="cakesbox">
        <span>
            <div *ngIf = 'allCakes'>
            <div *ngFor = 'let cake of allCakes'>
              <img (click) = 'viewCake(cake._id)' src="{{ cake.image_url }}" alt="A Cake" width="140" height="140" />
              <div id="rateform">
                <form (submit)='addNewReview(cake._id)'>
                    <div class="form-group">
                      <select
                          class="form-control"
                          id="stars"
                          name="stars"
                          [(ngModel)]="newReview.stars"
                        >
                        <option value="5">5 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="2">2 Stars</option>
                        <option value="1">1 Star</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input
                        class="form-control"
                        id="comment"
                        type="text"
                        name="comment"
                        [(ngModel)]="newReview.comment"
                      />
                    </div>
                    <input style="font-size: 15px; vertical-align: top;"type="submit" value="Rate" />
                </form>
            </div>
            </div>
          </div>
      </span>
      </div>
    </div>
</body>


