<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Note to self... MAKE SURE YOU ONLY USE ONE SCRIPT TAG FOR JQUERY!-->
    <title>Group Chat</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
   <style>
       #person {
           width: 100px;
           border: solid black 1px;
            margin: 10px;
           display: inline-block;
           text-align: center;
           border-radius: 5px;
       }
            #person h4{
                background-color: grey;
                margin-top: 0px;
                margin-bottom: 0px;
                padding: 5px;
                color: white;
            }
            #person p{
                padding: 5px;
            }
       h1{
           text-align: center;
       }
   </style>
    <script>
        $(document).ready(function(){

            var socket = io.connect();
            socket.on('connect', function () { 
                var person = prompt("Please enter your name", "Harry Potter");
                    if (person != null){
                        socket.emit('new_person', person);
                }
            socket.on('person_sent', function(data){
                console.log(data);
                $('#people').append("<div id='person'>"+
                    "<h4>" + data + "</h4>"
                    + "<p>The message will be here</p>"
                    + "</div>")
            })
            socket.on('disconnected', function() {
                socket.emit('DelPerson', person);
            });

    });
        });
    </script>
</head>
<body>
    <h1> Message Board </h1>
    <div id="people">
    </div>
</body>
</html>