<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Note to self... MAKE SURE YOU ONLY USE ONE SCRIPT TAG FOR JQUERY!-->
    <title>Group Chat</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
   <style>
       #wrapper{
           align-content: center;
           width: 80%;
           height: auto;
           margin-left: auto;
           margin-right: auto;
           text-align: center;
       }
       #msg_board{
           width: 100%;
           height: 500px;
           overflow-y: scroll;
           border: solid black 1px;
       }

   </style>
    <script>
        $(document).ready(function(){
            var person;

            while(person == null || person == ""){
                person = prompt("Please enter your name", "Harry Potter");
                document.cookie = person;
            }
            console.log(person);
            var socket = io();
            socket.emit('login', {person: person});

            socket.on('msg_update', function(data) {
                $('#msg_board').append("<p>"+data.msg+"</p>");
            });
            socket.on('init_board', function(data){
                for(msg of data.all_messages) {
                    $('#msg_board').append("<p>"+msg+"</p>");
                }
            });
            $('#send').click(function() {
                console.log($('#message').val());
                socket.emit('send', {msg: $('#message').val()});
                $('#message_box').val("");
            });
        });
</script>
</head>
<body>
    <div id="wrapper">
        <h1> Conversation Board </h1>
        <div id="msg_board">
        </div>
        <form id="msg_form">
            <br>
            <div class="form-group">
                <label style="text-align: left;" for="message">Message:</label>
                <input style="width: 90%; margin-right: 10px; display: inline-block;" id='message' type='text' name='message'>
                <button style="margin-left: 80%;" class="btn btn-default" id="send">Send</button>
            </div>
        </form>
    </div>
</body>
</html>