<!DOCTYPE html>
<html>
<head>
    <!--Note to self... MAKE SURE YOU ONLY USE ONE SCRIPT TAG FOR JQUERY!-->
    <!--Try to make this assignment look nice as well as work... right after I get back from work.-->
    <!-- Used https://fontmeme.com/star-wars-font/ to get the image of the star wars wiki words-->
    <title>Star Wars Wiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
    <style>
        body{
            background-image: url(../images/starwarsback.jpg);
        }
    </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script>
    $(document).ready(function(){
        $('#peopleBtn').click(function(){
            // let's make the request to our OWN server!
            $.get('/people', function(data){
                // log the data to be sure we have it before we dive into manipulating the DOM
                //console.log("got the data", data);
                $('#apicontent').empty();
                for(let i in data.results) {
                    $('#apicontent').append(data.results[i].name + '<br>' + '<br>');
                }
            }, 'json');
        });
        $('#planetBtn').click(function(){
            // let's make the request to our OWN server!
            $.get('/planets', function(data){
                // log the data to be sure we have it before we dive into manipulating the DOM
                //console.log("got the data", data);
                $('#apicontent').empty();
                for(let i in data.results) {
                    $('#apicontent').append(data.results[i].name + '<br>' + '<br>');
                }
            }, 'json');
        });
        $('#next').click(function(){
            // let's make the request to our OWN server!
            $.get('/next', function(data){
                // log the data to be sure we have it before we dive into manipulating the DOM
                //console.log("got the data", data);
                $('#apicontent').empty();
                for(let i in data.results) {
                    $('#apicontent').append(data.results[i].name + '<br>').append("<br>");
                }
            }, 'json');
        });
        $('#previous').click(function(){
            // let's make the request to our OWN server!
            $.get('/prev', function(data){
                // log the data to be sure we have it before we dive into manipulating the DOM
                //console.log("got the data", data);
                $('#apicontent').empty();
                for(let i in data.results) {
                    $('#apicontent').append(data.results[i].name + '<br>').append("<br>");
                }
            }, 'json');
        });
        $('#all').click(function(){
            // let's make the request to our OWN server!
            $.get('/all', function(data){
                console.log(data);
                // log the data to be sure we have it before we dive into manipulating the DOM
                //console.log("got the data", allData);
                $('#apicontent').empty();
                for(let j in data){
                    //for(let i in data.results) {
                        $('#apicontent').append(data[j]).append("<br>").append("<br>");
                   // }
                } 
            }, 'json');
        });
    });
</script>
<style>
    p{
        padding: 15px;
    }
</style>
<body>
    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"class="wrapper">
        <div style="text-align: center;" class="row">
            <img src="../images/starwarswiki.png">
        </div>
        <div style="text-align: center;" class="row">
            <h3 style="color: yellow;">What would you like to know more about?</h3>
        </div>
        <div class="row">
            <button id="peopleBtn" style="width: 30%; margin-right: 39%;" class="btn btn-outline-secondary">People</button>
            <button id="planetBtn" style="width: 30%;" class="btn btn-outline-secondary">Planets</button>
        </div>
        <div class="row" style="margin-top: 10px; background-color: antiquewhite; opacity: 0.7; padding: 5px; overflow-y: scroll; height: 500px;">
            <div id="apicontent" style="font-size: 36px; margin: 5px;">
            </div>
        </div>
        <div class="row" style="margin-top:10px; text-align: center;">
            <button style="float: left;" id="previous" class="btn btn-outline-secondary">Previous 10</button>
            <button style="justify-content: center;"id="all" class="btn btn-outline-secondary">Get all</button>
            <button style="float: right;"id="next" class="btn btn-outline-secondary">Next 10</button>
        </div>
    </div>
</body>
</html>