h1 {
  text-align: center;
}
#wrapper {
  align-content: center;
  border: 3px solid orange;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* The styling for the buttons */
#getalltasks {
  display: block;
  background-color: purple;
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
#showtask {
  background-color: teal;
  border-radius: 100%;
  color: white;
  padding: 15px;
}
#editask {
  background-color: teal;
  border-radius: 100%;
  color: white;
  padding: 15px;
}
#showcreateform {
  display: block;
  background-color: orangered;
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}
#deletetask {
  background-color: rgb(128, 9, 0);
  border-radius: 100%;
  color: white;
  padding: 15px;
}

/* The styling for the boxes */
#taskswrap {
  text-align: center;
  align-content: center;
  border: 3px solid blue;
  border-radius: 5px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
/* The styling for the table that holds all the tasks */
table {
  margin-right: auto;
  margin-left: auto;
}
table tr td {
  padding: 5px;
}
#editformbox {
  text-align: center;
  align-content: center;
  border: 3px solid pink;
  border-radius: 5px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
p {
  color: red;
}
#formbox {
  text-align: center;
  align-content: center;
  border: 3px solid rgb(121, 53, 153);
  border-radius: 5px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
