<!DOCTYPE html>
<html>
<head>
    <!--Note to self... MAKE SURE YOU ONLY USE ONE SCRIPT TAG FOR JQUERY!-->
    <title>Cars</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
   
</head>
<body>
   <h1>Here are some cool cars!</h1>
   <div class="row">
       <img class="span4" src="../images/convertible_porsche.png" alt="Convertible Porsche">
       <img class="span4" src="../images/ferrari.jpg" alt="Ferrari">
       <img class="span4" src="../images/jaguar.png" alt="Jaguar">
       <img class="span4" src="../images/mclaren.png" alt="Mclaren">
   </div>
   <p>Do you want to see some cool cats? If so click <a href="/cats">HERE</a></p>
   <p>Or do you want to add a new car to these cool cars? If so click <a href="/cars/new">HERE</a></p>
</body>
</html>