<!DOCTYPE html>
<html>
<head>
    <!--Note to self... MAKE SURE YOU ONLY USE ONE SCRIPT TAG FOR JQUERY!-->
    <title>Greeting</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
   
</head>
<body>
    <h1>Here are some cool cats!</h1>
    <div id="row">
        <img style="display:inline-block; width:23%; height: auto;" id="col" src="../images/cat1.jpeg" alt="Cat1">
        <img style="display:inline-block; width:23%; height: auto;" id="col" src="../images/cat2.png" alt="Cat2">
        <img style="display:inline-block; width:23%; height: auto;" id="col" src="../images/cat3.jpg" alt="Cat3">
        <img style="display:inline-block; width:23%; height: auto;" id="col" src="../images/cat4.jpg" alt="Cat4">
    </div>
    <p>Do you want to go back? If so click <a href="/cars">HERE</a></p>
    <p>Or do you want to add a new car to these cool cars? If so click <a href="/cars/new">HERE</a></p>
</body>
</html>