<!DOCTYPE html>
<html>
<head>
    <!--Note to self... MAKE SURE YOU ONLY USE ONE SCRIPT TAG FOR JQUERY!-->
    <title>newCar</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
   
</head>
<body>

<h2>New Car to Add to the Cool cars</h2>

<form action="">
  <div class="form-group">
    <label for="make">Car Make:</label>
    <input type="text" class="form-control" id="make" value="Mercedes">
  </div>
  <br>
  <div class="form-group">
    <label for="model">Car Model:</label>
    <input type="text" class="form-control" id="model" value="GWagon">
  </div>
  <br>
  <div class="form-group">
    <label for="car photo">Choose a picture for the car!</label>
    <input type="file" id="carphoto" name="carphoto" accept="image/png, image/jpeg">
  </div>
  <br><br>
  <input type="submit" value="Submit">
</form> 
<br><br>
<p>Go back? Click <a href="/cars">HERE</a></p>
</body>
</html>